@font-face {
    font-family: 'Windows';
    src: url("/fonts/w95fa.woff") format("woff"),
      url("/fonts/w95fa.woff2") format("woff2");
}

html { height:100%; background-color: purple; }
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  left:0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-scrollbar::before {
  width: 18px;
  left: 0;
  border-radius: 0px;
  background: #f1ebdd;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
}

.simplebar-track.simplebar-vertical {
  width: 20px;
}

/* Track */
.simplebar-track {
  background: darkgrey;
}

.shadow-border {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
}

.dialog {
  font-family: 'Windows', sans-serif;
  height: 100%;
  background-color: #f1ebdd;
  flex-basis: 1000px;
}

.dialog-header {
  align-items: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,89,236,1) 0%, rgba(0,212,255,1) 100%);
  color: #fff;
  display: flex;
  font-family: 'Windows', sans-serif;
  font-size: 18px;
  height: 30px;
  padding: 5px 5px;
  position: relative;
}

.dialog-subheader {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.dialog-subheader-fake-button {
  padding: 10px;
  pointer-events: none;
  position: relative;
}

.dialog-subheader-fake-button-underline {
  text-decoration: underline;
}


.dialog-button {
  background-color: #f1ebdd;
  border-radius: 2px;
  border-width: 2px;
  border-color: black;
  border-bottom: 3px solid grey;
  border-right: 3px solid grey;
  box-shadow: 3px 3px;
  font-family: 'Windows', sans-serif;
  font-size: 18px;
  padding: 10px 20px;
}

.dialog-button-header {
  padding: 5px 7px;
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px;
  position: relative;
  pointer-events: none;
}

.dialog-subheader .dialog-button:nth-of-type(1) {
  margin-left: 10px;
}

.dialog-subheader .dialog-button:nth-of-type(1) {
  margin-left: 10px;
}

.dialog-subheader-top {
  border-bottom: 1px solid grey;
}

.dialog-subheader-links {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid grey;
}

.dialog-subheader-fake-form {
  border-top: 1px solid white;
  align-items: center;
  display: flex;
  padding: 20px;
  padding-top: 10px;
  width: 100%;
}

.dialog-subheader-fake-input-label {
  text-shadow: 1px 1px grey;
}

.dialog-subheader-fake-input {
  padding: 10px;
  background: white;
  border: 2px solid black;
  margin-left: 10px;
  flex-grow: 8;
}

.dialog-header-button {
  position: relative;
}

.dialog-button-maximise-icon {
  padding: 6px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid black;
}

.dialog-header-button-container {
  display: flex;
  position: absolute;
  right: 10px;
}

.dialog-button-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding-bottom: 5px;
}

.dialog-button-header-text-max {
  font-size: 45px;
  padding-bottom: 8px;
}

.dialog-body {
  overflow-y: scroll;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
  margin: auto;
  display: none;
  width: calc(100% - 40px);
}

.dialog-body-content {
  width: calc(100% - 40px);
  margin: 0px 20px 20px 20px;
}

.chat-message {
  width: 50%;
  height: fit-content;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 2px;
  border: 2px grey solid;
}

.chat-message-container.chat-message-container-user-primary {
  flex-direction: row-reverse;
  margin-right: 30px;
}

.chat-message.chat-message-user-primary {
  color: black;
  margin-left: 0px;
}

.chat-message-user {
  font-size: 20px;
}

.chat-message-content {
  padding-top: 20px;
  font-size: 18px;
}

.chat-message-content-img {
  max-width: 100%;
  max-height: 400px;
}

.chat-message-container {
  display: flex;
  flex-direction: row;
}

.chat-container {
  display: flex;
  flex-direction: row;

}

.chat-message-break {
  width: calc(50% - 73px);
}

.dialog-body-active {
  display: block;
}

.dialog-button-text-about, .dialog-button-text-chat {
  display: none;
}

.dialog-button-text-active {
  display: block;
}

.about-content {
  background: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  width: calc(100% - 80px);
  margin: 30px auto;
  padding: 10px;
}

.dialog-header-icon {
  padding-right: 10px;
}

.dialog-header-count-mobile {
  display: none;
}

.dialog-button-disabled {
  pointer-events: none;
}

.dialog-button-text-disabled {
  color: grey;
  text-shadow: 1px 1px white;
}

@media only screen and (max-width: 900px) {
  .dialog-subheader-fake-button-responsive {
    display: none;
  }

  .dialog-subheader .dialog-subheader:nth-of-type(1) {
    margin-right: 0px;
  }

  .dialog-header-count-desktop {
    display: none;
  }

  .dialog-header-count-mobile {
    display: block;
  }

  .dialog-button-header-text-max {
    font-size: 30px;
  }

  .chat-message {
    width: 100%;
    margin-right: 10px;
  }

  .dialog-button {
    padding: 10px 5px;
  }
}
